# Docker

POSTGRES_IMG=postgres:18

ADMINER_IMG=adminer:5.4.2

REDIS_IMG=redis:8.6.2

CADDY_IMG=caddy:2.11.2-alpine

# Postgres !! Make sure this matches env vars in docker-compose

POSTGRES_USER=johndoe
POSTGRES_PASS=password
POSTGRES_DB=database
DATABASE_URL="postgresql://johndoe:password@localhost:port/database"
